{% extends "movies_base.html" %}
{% block content %}
    <h1>Movies</h1>
    <ul>
    {% for movie in object_list %}
        <li>
            <a href="{% url 'movie-detail' pk=movie.id %}" >
               {{ movie.title }} - {{ movie.year }}
            </a>
        </li>
    {% empty %}
        <li>empty</li>
    {% endfor %}
    </ul>
    <div>
        <h2> Add new movie </h2>
        <form
            method="post"
            action="{{ movie_form_url }}" >
            {% csrf_token %}
            {{ movie_form.as_p }}
            <button
                type="submit", name="create" >
                Add Movie
            </button>
        </form>
    </div>

{% endblock content %}